body{       
    font: normal 20px Arial;
    background-image: url(padrao-gatinho.jpg);
}

header{
    color: rgb(184, 129, 247);
    text-align: center;
    font-size: 50px;
    background: rgb(232, 219, 247);
}

.cx{
    background: rgb(232, 219, 247);
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: 50px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    text-align: center;
}

.org{
    margin-left: 12%;
}

.up-div {
    display: flex;  
}
  
.down-div {
    display: flex; 
}

input{
    width: 100px;    
}

footer{
    color: grey;
    text-align: center;    
    font-style: italic;
}